@media(max-width:1130px)
{
    .header_nav {
    background: #b53a1bef;
    position: fixed;
    top: 146.4px;
    left: -100%;
    transition: .5s linear;
    display: flex;
    width: 240px;
    padding: 25px 81px 25px 82px;
    justify-content: center;
    align-items: center;
}
.burger {
    display: block;
}

.show {
    left: 0;
}
.header_ul {
    flex-direction: column;
    align-items: center;
}


.card2{
    column-gap: 24px;
}
.cards2{
    column-gap: 24px;
}
.foto2{
    width: 591px;
height: 322px;
flex-shrink: 0;
}
.foto3{
    width: 345px;
height: 322px;
flex-shrink: 0;
}
.foto4{
width: 284px ;
height: 260px;
flex-shrink: 0;
}
.foto5{
width: 284px;
height: 260px;
flex-shrink: 0;
}
.foto6{
width: 345px;
height: 260px;
flex-shrink: 0;
}


.text1{
 width: 750px;
 

}
.box5{
   flex-wrap: wrap;
    
}
.card5_1,.card5_2{
    width: 468px;
    height: 172px;
    top: 84px;
    padding: 8px, 8px, 20px, 8px;
    border-radius: 8px;
    

}
.card5_3{
display: flex;
width: 960px;
height: 124px;
padding: 8px 8px 20px 8px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}
.middle1{
margin: 24px 0;
}
.box8{
    width: 960px;
    height: 408px;
}
.card10{
    margin-top: 40px;
   }
.maps{
    width: 714px;
height: 320px;
flex-shrink: 0;



}
}