@media(max-width:1024px)
{
    .header_nav {
    background: #b53a1bef;
    position: fixed;
    top: 146.4px;
    left: -100%;
    transition: .5s linear;
    display: flex;
    width: 240px;
    padding: 25px 81px 25px 82px;
    justify-content: center;
    align-items: center;
}
.burger {
    display: block;
}

.show {
    left: 0;
}
.header_ul {
    flex-direction: column;
    align-items: center;
}
.cover1{
    width: 1024px;
    height: 640px;
}
.foto2{
    width: 680px;
}
.text1{
 width: 750px;
 

}
.image9{
    display: none;
}
.box5{
    flex-direction: column;
    
}
.card5{
    width: 696px;
    height: 172px;
}
.middle1{
margin: 24px 0;
}
}